-const btnST = ['Perímetro', 'Área']
-const btnCircle = ['Diámetro', 'Perímetro', 'Área']
-co

-const inputTr = [1,2,3]

-const squares = ['btnPerimSquare', 'btnAreaSquare']
-const triangle = ['btnPerimTriangle', 'btnAreaTriangle']
-const circles = ['btnDiamCircle', 'btnPerimCircle', 'btnAreaCircle']

